body {
    background-color: white;
    font-family: "Tahoma";
    color: black;
}
 /* Header */
header {
    background-color: lightgrey;
    padding-top: 3%;
    padding-bottom: 1%;
    font-size: 20px;
}

/* Headings */
h1 {
    margin-left: 20%;
    margin-right: 10%;
}

h3 {
    margin-top: -2%;
    margin-left: 20%;
    margin-right: 10%;
}

/* Create two columns/boxes that floats next to each other */
article {
    float: left;
    width: 30%;
    padding-left: 20%;
    padding-top: 3%;
}

article.contacts {
    padding-left: 5%;
    padding-right: 15%;
}

/* Paragraphs */
p {
    width: 80%;
}

img {
    width: 50%;
    border-radius: 50%;
}